.input-wrapper{
    width: 500px;
    display:flex;
    justify-content:center;
    flex-direction: column;
    margin : 0 auto;
    padding-top:140px;
}

.list-wrapper{
    width:500px;
    margin: 0 auto;
    padding-top : 70px;
    display : flex;
    flex-direction: column;
    list-style: none;
}

.list{
    border-bottom : 2px solid #ddd;
}

