.top-wrapper{
    height:70px;
    width:100%;
    border-bottom : 2px solid #ddd;
    background-color: #f5ebad;
    position: fixed;
    display:block;
    text-align:center;
    top:0;
    left:0;
}